body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #67abd8;
  text-align: center;
}
  
.button {
  height: 36px;
  font-size: 14px;
  color: white;
  background-color: rgb(235, 156, 53);
  border-color: rgb(192, 192, 192);
  border-width: 1px;
  .button:active {
    background-color:rgb(207, 124, 15);
    border-color: rgb(192, 192, 192);
  }
}
  
.searchbox {
  width: 25%;
  height: 30px;
}
  
.toprow {
  padding: 10px;
  display: flex;
  width: 79%;
  justify-content: center;
}

.history {
  text-align: left;
  background-color: rgba(255, 247, 177, 0.747);
  width: 170px;
  margin-right: 20px;
  padding: 12px;
  border-radius: 6px;
  height: 197px;
  overflow: scroll;
}

.pastwords {
  text-decoration: underline;
  font-size: 14px;
}

li {
  font-size: 13px;
}

.word {
  font-size: 30px;
}

.definition {
  padding: 10px;
}

.type {
  padding-top: 2px;
  padding-bottom: 6px;
}

.example {
  font-size: 14px;
}

.spellchecker {
  font-size: 20px;
}

.correctlySpelledWord {
  font-size: 24px;
  text-decoration: underline;
}

.inputRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type='text'] {
  font-size: 20px;
}

img {
  width: 400px;
}

h2 {
  margin-top: 4%;
}
  